{% extends 'layout.html' %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-sm-3" style="text-align: center;">
                <img src="{{ page_user.avatar_url }}" alt="avatar_url" class="rounded-circle" style="width: 180px;">
            </div>
            <div class="col-sm-9">
                {{ page_user.username }}
                <a href="{% url 'profile_edit' %}" class="btn btn-secondary btn-sm">Profile Edit</a>

                {% if is_follow %}
                    <a href="{% url "user_unfollow" page_user.username %}">UnFollow</a>
                {% else %}
                    <a href="{% url "user_follow" page_user.username %}">Follow</a>
                {% endif %}

                <hr>
                {{ post_list_count }} {% if post_list_count == 0 %}post{% else %}posts{% endif %},
                0 {% if 0 == 0 %}follower{% else %}followers{% endif %},
                0 {% if 0 == 0 %}following{% else %}followings{% endif %},
                <hr>
                {{ page_user.username }}
            </div>
        </div>
        <div class="row">
            {% for post in post_list %}
                <div class="col-sm-4" style="margin-bottom: 32px;">
                    <img src="{% thumbnail post.photo 700x700 crop %}" alt="{{ post.caption }}" style="width: 100%;"/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}